/*.listContainer {
    border-radius: 8px;
    border-top-left-radius: 0px;
}*/

/*.list {
    padding: 0;
    text-decoration: none;
    background-color: #c4c4c4;
    color:#242424;
    border-width: 1px;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    width: 100%;
}*/

/*.subList {
    display: flex;
    flex-direction: column;
}*/

/*.listItems {
    margin: 0;
    padding: 0;
    display: grid;
    /*grid-template-columns: repeat(3, 3fr) 1fr;*/


.listItems:hover {
    text-decoration: none;
    background-color: #BEEBE1;
}

.listItemLabels {
    padding: 8px;
    text-align: center;
}

.buttonContainer {
    justify-self: end;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    min-height: 2em;
    max-width: 6em;
}