.modalHead {
    text-decoration: none;
    background-color: white;
    color:black;
}


.modalImg {
    width: 70%;
}

.form {
    text-decoration: none;
    background-color: white;
    color:black;
    display: grid;
    width: 100%;
}

.formContainer {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    align-items: center;
}

.formItems {
    display: flex;
    flex-direction: row-reverse;
}

.formInput {
    min-width: 12em;
    max-width: 12em;
}

.formInputRead {
    background-color: #B2BCD1 !important;
    border-color: black !important;
    min-width: 6em;
    max-width: 6em;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.buttonContainer button{
        padding: 30px 0;
}


/*.button {
    border-radius: 8px;
}*/
