
.chartjs-render-monitor {
    background-color: white;
    padding-top: 10px;
    border-radius: 5px;
}

.loginImg{
    width: 5.5rem;
    height: 5.5rem;
    align-items: center;
}

.card-header{
    text-align: center;
}

#__next{
    background: url("../public/bg4.jpg") center;
    background-position: center;
    background-size: cover; 
}

html, body{
    background: url("../public/bg4.jpg") center;
    background-position: center;
    background-size: cover; 
}

.container{
    margin-bottom: 50px;
}

.registerContainer{
    padding-top: 50px;
}